.btn {
  @apply font-bold py-2 px-4 rounded underline;
}

.search {
}

.input__big {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input__small {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.button__big {
  width: 95%;
  margin: 20px 0;
  height: 40px;
  background: #ccc;
  color: #fff;
  border-radius: 10px;
  &:hover {
    background: gray;
  }
}

.button__small {
  width: 25%;
  margin: 20px 0;
  height: 40px;
  background: #ccc;
  color: #fff;
  border-radius: 10px;
  &:hover {
    background: gray;
  }
}

.message {
  margin-top: 5px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0 30px 0;

  .backButton {
    font-size: 2rem;
    cursor: pointer;
  }
  .h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }
}
